n8n-workflows/1-daily-content-generation.json
{
  "name": "Social Bot - Daily Content Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://control-api:4000/api/v1/page-profiles/due-for-content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-due-profiles",
      "name": "Get Due PageProfiles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "control-api-auth", "name": "Control API JWT" }
      }
    },
    {
      "parameters": {
        "url": "=http://control-api:4000/api/v1/workspaces/{{$json.workspaceId}}/page-profiles/{{$json.id}}/generate-content",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "trigger-generation",
      "name": "Trigger Content Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "control-api-auth", "name": "Control API JWT" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.message }}",
              "rightValue": "Content generation queued",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [950, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Every Hour": {
      "main": [[{ "node": "Get Due PageProfiles", "type": "main", "index": 0 }]]
    },
    "Get Due PageProfiles": {
      "main": [[{ "node": "Trigger Content Generation", "type": "main", "index": 0 }]]
    },
    "Trigger Content Generation": {
      "main": [[{ "node": "Check Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "social-bot-automation"
  },
  "tags": []
}
